# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/

# Environment variables
config/.env

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db

# Output files
outputs
outputs/*
# Keep the outputs directory
!outputs/.gitkeep

# Logs
*.log
